.App {
    width: 700px;
    margin: 0 auto;
    position: relative;
}
.New-Joke-Button {
    position: fixed;
    left: 50%;
    top: 200px;
    transform: translate(-50%, 0);
    border: none;
    border-radius: 50%;
    font-size: 25px;
    padding: 65px 20px;
    background: hotpink;
    color: white;
}
